.bundle
db/*.sqlite3
log/*.log
tmp/
.sass-cache/
*.DS_Store
tmp/**/*
log/*.pid
.rmvrc
config/database.yml
config/database.yml
config/rails_best_practices.yml
rails_best_practices_output.html
tmp/sent_mails/*
public/cache
public/uploads
db/backups
solr/data
